*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#cursor{
    width: 2.3vw;
    height: 2.3vw;
    border: 1px solid #fff;
    border-radius: 50%;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);
    z-index: 99;
}
#loader{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;
    top:0;
    transition: all linear 1s;

}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 4vw;
    font-weight: 100;
    font-family: "silk serif";
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#line1-part1 h5{
    width: 5.5vw;
}
@keyframes anime{
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke:0.2px white;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke:0.2px white;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family:'silk serif';
        -webkit-text-stroke:0.2px white;
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family:'silk serif';
        -webkit-text-stroke:0.2px white;
        color:transparent;
        font-weight: 500;
        opacity: 0;

    }
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #0a0a0a;
}
nav #logo img{
    width: 5vw;
}
#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 4vw;
}
nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
}
.hero:nth-child(2){
    margin-top: 12vh;
}
.hero h1{
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 6.8vw;
    text-transform: uppercase;
}
#hero3 h2{
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 6.8vw;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    
}
#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    border-bottom: 0.5vw solid #0a0a0a;
}

#page2{
    width: 100%;
    height: 100vh;
    padding-top: 17vh;
    position: relative;
    background-color: #0a0a0a;
}
#video_container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    
}
#video_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}
#video_container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video_cursor{
    width: 8.5vw;
    height: 8.5vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
#video_cursor i{
    font-size: 2.5vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(33, 32, 32);
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 6vh 0;
}
#page4_content{
    width: 70vw;
    position: relative;
    margin-left: 28%;
}
#page4_content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4_content .underline{
    height: 1.2px;
    width: 100%;
    background-color: #ffff;
    margin: 5vw 0;
}
#page4_content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4_flex{
    display: flex;
}
#page4_flex img{
    width: 48%;
}
#page4_flex p{
    font-size: 0.9vw;
    margin-left: 1vw;
    width: 19%;
}
#page4_blue_div{
    width: 32vw;
    height: 32vw;
    background-color: #3f7df4;
    padding: 3vw;
    position: relative;
    top:-35vh;
    left: 26vw;
   
}
#page4_blue_div .blue_elem{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    padding: 1.7VW 0;
}
#page4_blue_div .blue_elem h4{
    width: 50%;
    font-size: 1.4vw;
    font-weight: 400;
}
#page4_blue_div .blue_elem p{
    width: 50%;
    font-size: 0.9VW;
    font-weight: 200;
}
